
body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
}
.top-header {
    height: 20px;
    position: sticky;       /* stays visible while scrolling */
    top: 0;                 
    z-index: 999;           /* keeps header above all content */

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 30px;
    background: rgba(255, 255, 255, 0.6); /* transparent for blur */
    backdrop-filter: blur(12px);          /* blur effect */
    -webkit-backdrop-filter: blur(12px);  /* Safari support */

    border-bottom: 1px solid #ddd;
}


.logo {
    font-weight: bold;
    margin-right: 820px;
    font-size: 25px;
}

.logo-box {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.page-title {
    font-size: 18px;
    color: #666;
    margin-right: 50px;
}

.container {
    width: 80%;
    margin: auto;
}
.container h1{
    font-size: 20px;
}

.title {
    margin-top: 20px;
}

.progress-bar {
    width: 100%;
    height: 6px;
    background: #d9e8d9;
    border-radius: 4px;
    margin: 15px 0;
}

.progress {
    height: 100%;
    background: #2e8b2e;
    border-radius: 4px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.tabs button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background: #e5f4e5;
    cursor: pointer;
}

.tabs button.active {
    background: #2e8b2e;
    color: white;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.section-title {
    margin-bottom: 5px;
}

.subtitle {
    color: gray;
    font-size: 14px;
}

.center-title {
    text-align: center;
    margin-top: 15px;
}

.center-subtitle {
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-bottom: 25px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.capture-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background: white;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.capture-btn {
    padding: 10px;
    width: 70%;
    background: #2e8b2e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.capture-btn:hover {
    background: #267226;
}

.guidelines {
    margin-top: 30px;
}

.guidelines ul {
    margin-left: 20px;
    color: gray;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.btn-secondary {
    padding: 10px 20px;
    background: #ccc;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submit-btn {
    padding: 10px 20px;
    background: #1fa846;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}